
<form method="POST" action="/form-preview">
    <div class="form-group">
        <label for="Position">Postion</label>
        <input type="text" class="form-control" id="Position" name="Position" placeholder="Front End Developer">
    </div>
    <div class="form-group">
        <label for="PortfolioUrl">Portfolio URL</label>
        <input type="text" class="form-control" id="PortfolioUrl" name="PortfolioUrl" placeholder="www.example.com">
    </div>
    <div class="form-group">
        <label for="ResumeUrl">Resume URL</label>
        <input type="text" class="form-control" id="ResumeUrl" name="ResumeUrl" placeholder="www.example.com/resume.pdf">
    </div>

    <div class="form-group">
        <label for="CoverPageText">Cover Letter</label>
        <textarea class="summernote" id="CoverPageText" name="CoverPageText"></textarea>
    </div>

    <div class="form-group">
        <label for="Education">Education</label>
        <textarea class="summernote" id="Education" name="Education"></textarea>
    </div>

    <div class="form-group">
        <label for="Experience">Experience</label>
        <textarea class="summernote" id="Experience" name="Experience"></textarea>
    </div>

    <div class="form-group">
        <label for="AdditionalText">Additional Text</label>
        <textarea class="summernote" id="AdditionalText" name="AdditionalText"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

