
<div class="jumbotron text-center">
    <h1>Bucket Application Form</h1>
    <h4>Author: Corey Rodems</h4>
    <p>This is a simple node.js web app using express, handlebars, mongo, bootstrap, and summernote "WYSIWYG" text editor</p>
</div>
<div class='container' role="div">
    <div class="col-md-12">
        {{#if form}}
            <h5>Use the ApplicantID in your email to complete the last section</h5>
            <p >Complete the form to finish step two and send your JSON object</p>
            {{>form}}
        {{/if}}
        {{#unless form}}
            {{> preview}}
        {{/unless}}
    </div>
</div>
